body {
    background-color: #e0f7fa; /* Светло-голубой фон */
    color: #333; /* Темно-серый цвет текста */
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0277bd; /* Темно-синий фон */
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}

main {
    padding: 20px;
    background-color: #ffffff; /* Белый фон */
}

footer {
    background-color: #004d40; /* Темно-зеленый */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

a {
    color: #00796b; /* Темно-зеленый цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}
